<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Year</th>
        <th>User_id</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input class="form-control" name="title" type="text" value="{{ title }}" id="title"></td>
        <td><input class="form-control" name="author" type="text" value="{{ author }}" id="author"></td>
        <td><input class="form-control" name="genre" type="text" value="{{ genre }}" id="genre"></td>
        <td><input class="form-control" name="year" type="number" value="{{ year }}" id="year"></td>
        <td><input class="form-control" name="user_id" type="text" value="{{ user_id }}" id="user_id"></td>
        <td> <input class="btn btn-success" type="submit" value="OK"></td>
    </tr>
    </tbody>
</table>