<td>{{ id }}</td>
<td>{{ title }}</td>
<td>{{ author }}</td>
<td>{{ genre }}</td>
<td>{{ year }}</td>
<td>{{ user_id }}</td>
<td><a href="#books/{{ id }}" class="btn btn-info" role="button">Show</a></td>
<td><a href="#users/{{ user_id }}/books/{{ id }}" class="btn btn-success" role="button">Return Book</a></td>
<td><a href="#books/delete/{{ id }}" class="btn btn-danger" role="button">Delete</a></td>