<td>{{ id }}</td>
<td>{{ name }}</td>
<td>{{ lastname }}</td>
<td>{{ email }}</td>
<td>
    <a href="#users/{{ id }}" class="btn btn-info" role="button">Show</a>
    <a href="#users/{{ id }}/books" class="btn btn-success" role="button">User's Books</a>
    <a href="#users/delete/{{ id }}" class="btn btn-danger" role="button">Delete</a>
</td>